<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Pic Services</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        none
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Pic Services
            </h6>
            <p>
                Depuis plus de 10 ans que nous sommes importateur fournisseur d'objets publicitaires et 
                d'articles promotionnels et cadeaux d'entreprise à Casablanca - MAROC.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Cart visite</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Roll up</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Sirigraphy</a>
            </p>
            <p>
              <a href="#!" class="text-reset">All</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                media sociaux
            </h6>
            <p>
              <a href="#!" class="text-reset"> <i class="bi bi-instagram fs-4"></i> </a>
            </p>
            <p>
              <a href="#!" class="text-reset"> <i class="bi bi-facebook fs-4"></i> </a>
            </p>
            <p>
              <a role="button" target="_blank" href="https://goo.gl/maps/mZtTzCFqZsxBSRUa8" class="text-reset"> <i class="bi bi-dribbble fs-4"></i> </a>
            </p>
            <p>
              <a role="button" href="#!" class="text-reset"> <i class="bi bi-envelope fs-4"></i></a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p> <a href="https://goo.gl/maps/mZtTzCFqZsxBSRUa8" class="text-reset" target="_blank" rel="noopener noreferrer"> <i class="bi bi-geo-alt fs-4 me-1"></i> 143 Rue Dixmude Angle Av Haj Omer Riffi | Bd D'alsace M.26 Casablanca </p> </a>
            <p>
              <i class="bi bi-envelope fs-4 me-3"></i>
              picservices4@gmail.com
            </p>
            <p><i class="bi bi-phone fs-4 me-3"></i> + 212 6 614 892 18</p>
            <p><i class="bi bi-telephone fs-4 me-3"></i> + 212 5 224 474 35</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="/">Picservices.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->